/******** inputs ********/

noscript {
  display: block;
  color: #808080;
}

/******** result-waiting ********/

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-left: 1em;

  border: 0.25em solid rgba(0, 0, 0, 0);
  border-top: 0.25em solid rgba(0, 0, 0, 0.7);
  border-right: 0.25em solid rgba(0, 0, 0, 0.7);

  animation: spinnerRotate 1s linear infinite;
}

@keyframes spinnerRotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/******** result ********/

.result {
  padding: 1em 0;
}

.result p {
  margin: auto 4em;
}

.result .issues {
  margin: 2em 0;
}

.result .issues-list {
  text-align: left;
}

.result .issues-list div {
  border-top: 1px solid #7f7f7f;
  /*background: rgba(255, 0, 0, 0.25);*/
  display: block;
  padding: 1em 2em;
  margin-bottom: -1px;
}

.result .issues .summary {
  font-weight: 700;
}

.result .issues .message {
  display: block;
}

.issues .bullet {
  width: 2em;
  height: 2em;
  vertical-align: -40%;
}

.result .issues-list div:last-child {
  border-bottom: 1px solid #7f7f7f;
}

/******** submit-form ********/

#submit-form {
  margin: auto 4em;
}

hr {
  border: 1px solid #aaa;
  border-bottom: none;
  margin: 1em 0 3em;
}

#checkboxes {
  padding-left: 2em;
}

#checkboxes input[type=checkbox] {
  width: 2em;
  margin-left: -2em;
  margin-right: 0;
}

#checkboxes label {
  display: inline-block;
}

.subdomain-example {
  display: block;
  margin-left: 2em;
}

.submit-feedback p {
  margin: 1em auto;
  text-align: justify;
}
