html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7f7f7f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 2em 0;
}

.content {
  padding: 2em 0;
  background-color: #ffffff;
  color: #424242;
  margin: 2em auto;
  max-width: 939px;
  width: calc(80% - 138px);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  line-height: 24px;
  box-sizing: border-box;
  min-width: 30em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  margin: 1em 0 0;
}

/* hstspreload general */
section {
  padding: 1em 4em;
}

section:target {
  background-color: rgba(255, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: -1px;
  margin-bottom: -1px;
  color: black;
}

a.hash-link {
  text-decoration: none;
  color: inherit;
}

a.hash-link:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.header-example {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  line-height: 2em;
  border-radius: 4px;
}

.main-header-example {
  text-align: center;
  padding: 0.5em;
}

.main-header-example span {
  display: inline-block;
}

/* Theming */
.form {
  background-color: #f2f2f2;
}

body.theme-green:not(.theme-remove) {
  background-color: #0d904f;
}

body.theme-green .form {
  background-color: #ddffee;
}

body.theme-red:not(.theme-remove) {
  background-color: #c62828;
}

body.theme-red .form {
  background-color: #ffebee;
}

body.theme-yellow:not(.theme-remove) {
  background-color: #fdd835;
}

body.theme-yellow .form {
  background-color: #fffde7;
}

.errors div {
  background-color: #ffcdd2;
}

.errors .summary {
  color: #c62828;
}

.warnings div {
  background-color: #fff9c4;
}

.warnings .summary {
  color: #ff8f00;
}

@media (max-width: 839px) {
  .content {
    width: calc(100% - 88px);
  }
}
