html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: Helvetica, "Roboto", Tahoma, sans-serif;
}

.header{
  font-size: 20px;
  color: rgb(66, 66, 66);
  letter-spacing: 0.02em;
  display:flex;
  align-items: center;
  height: 64px;
  padding: 0 16px 0 40px;

  font-family: "Roboto", Helvetica, Tahoma, sans-serif;
}

.content {
  padding: 80px 56px;
  font-size: 14px;
  background-color: #ffffff;
  color: #424242;
  margin: 2em auto;
  max-width: 939px;
  width: calc(80% - 138px);
  box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  border-radius: 2px;

  line-height: 24px;
}

@media (max-width: 839px) {
  .content{
    width:calc(100% - 88px);
    padding: 40px 28px;
  }

  .header {
    height: 56px;
  }
}

h3 {
  font-weight: normal;
  margin: 48px 0px 24px;
  font-size: 34px;
  /* For a closer match of the original template: */
  font-family: "Roboto", Helvetica, Tahoma, sans-serif;
  line-height: 40px;
}

p {
  margin: 0 0 16px;
}

/* hstspreload general */

body {
  padding: 2em 0;
}

.content {
  padding: 2em 4em;
  box-sizing: border-box;
  min-width: 30em;
}

.hidden {
  display: none;
}

/* Theming */

body { background: rgb(127, 127, 127);}
.form   { background: rgb(242, 242, 242);}

body.theme-green { background: #0d904f; }
body.theme-green .form   { background: #ddffee; }

body.theme-red { background:#c62828; }
body.theme-red .form   { background: #ffebee; }

body.theme-yellow { background: #fdd835; }
body.theme-yellow .form   { background: #fffde7; }

#errors div { background: #ffcdd2; }
#errors .summary { color: #c62828; }

#warnings div { background: #fff9c4; }
#warnings .summary { color: #ff8f00; }